{% extends "base.html" %} {% block title %}Clocking in and Out Users{% endblock %} {% block
    content %}
    <form method="POST" autocomplete = "off">
        <style>
            .image-container {
              text-align: center; /* Center content horizontally */
              padding: 20px; /* Add padding around the image */
              width: auto;
              height: auto;
              max-width: 100%; 
              max-height: 100%;
            .container 
                display: flex; 
                justify-content: space-between; 
            }
        </style>
        <div class="image-container">
            <img src="/static/optimil-Machinery-Inc-2.png" alt="Optimil Image" style="width:100%">
        </div>
        <form>
            <br />
            <br />
            <br />
            <body onload="startTime()">
        
                <div id="txt" align="center"  style="font-size:5vw"></div>
                 
                <script>
                function startTime() {
                  const today = new Date();
                  let h = today.getHours();
                  let m = today.getMinutes();
                  let s = today.getSeconds();
                  m = checkTime(m);
                  s = checkTime(s);
                  document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
                  setTimeout(startTime, 1000);
                }
                
                function checkTime(i) {
                  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                  return i;
                }
                </script>
                
            </body>
                <br /><br />
            <br /><br />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="submit_clock_in">Scan User Barcode</label>
                    <input type="text" class="form-control" id="insert_user_in" name="insert_user_in" placeholder="" /><br />
                    <input class="btn btn-primary" type="submit" value="Clock In" name="submit_clock_in" />
                </div>
                <div class="form-group col-md-6">
                    <label for="submit_clock_out">Scan User Barcode</label>
                    <input type="text" class="form-control" id="insert_user_out" name="insert_user_out" placeholder="" /><br />
                    <input class="btn btn-primary" type="submit" value="Clock Out" name="submit_clock_out" />
                </div>
            </div>
            <br />
            <br />
            <br />

            {% endblock %}