{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST" autocomplete = "off">
    <style>
        .image-container {
            text-align: center; /* Center content horizontally */
            padding: 40px; /* Add padding around the image */
            width: 10%;
            height: auto;
        }
    </style>
    <div class="image-container">
        <img src="/static/optimil-Machinery-Inc-2.png" alt="Optimil Image" width="900" height="200">
    </div>

    <body onload="startTime()">
        
        <div id="txt" align="center"  style="font-size:5vw"></div>
         
        <script>
        function startTime() {
          const today = new Date();
          let h = today.getHours();
          let m = today.getMinutes();
          let s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
          setTimeout(startTime, 1000);
        }
        
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
        </script>
        
    </body>
        <br /><br />
    <h3 align="center">Time Card</h3>
    <br />
    <br />
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="work_center">Work Center</label>
                <div class="input-group">
                <select name="search_filter1" class = "form-control", id="work_center" name="work_center">
                    {% for wc in wc_list %}
                        <li>
                            <option value="{{wc}}">{{wc}}</option>
                        </li>    
                            <li class="divider"></li>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="project_num">M#</label>
                <div class="input-group">
                <select name="search_filter2" class = "form-control", id="m_num" name="m_num">
                    {% for num in Mnum_list %}
                        <li>
                            <option value="{{num}}">{{num}}</option>
                        </li>    
                            <li class="divider"></li>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="part_num">Operation</label>
                <input type="text" class="form-control" id="part_num" name="part_num" placeholder="Enter operation" />
            </div>
            <div class="form-group col-md-4">
                <label for="hours_allocated">Hours Worked</label>
                <input type="text" class="form-control" id="hours_allocated" name="hours_allocated" placeholder="Enter hours for each task" />
            </div>
            <div class="form-group col-md-4">
                <label for="npc">NPC</label>
                <div class="input-group">
                <select name="search_filter3" class = "form-control", id="npc" name="npc">
                    {% for npc in npc_list %}
                        <li>
                            <option value="{{npc}}" >{{npc}}</option>
                        </li>    
                            <li class="divider"></li>
                    {% endfor %}
                    </select>
                </div>
            </div>
        
        </div>

        <br />
        <button type="submit" class="btn btn-primary" value="Submit Info" name="submit">Submit</button>
        <input class="btn btn-primary" type="submit" value="Clock In" name="clock_in">    
        <input class="btn btn-primary" type="submit" value="Clock Out" name="clock_out"/>
        
    </form>
    
</form>
{% endblock %}